---
layout: base
eleventyNavigation:
key: Home
---

<div class="container">
  <h1>divest olin from fossil fuels</h1>
  <div class="p-block">
    <p class="mono">what?</p>
    <p>We are calling for Olin to divest, or stop investing in fossil fuel companies that drive climate change.</p>
  </div>

  <div class="p-block">
    <p class="mono">why?</p>
    <p><strong>✊ Divestment is effective.</strong> fossil fuel companies call it a “material risk” to their business.</p>
    <p><strong>⚖️ Hold Olin accountable.</strong> if Olin cares about sustainability, equity, and justice, it can’t support companies lobbying against climate action.</p>
    <p><strong>💸 Olin’s financial health.</strong> fossil fuels are poor long term investments as the world moves to renewables.</p>
  </div>

  <div class="p-block">
    <p class="mono">support divestment</p>
    <p>Vote yes on the student body referendum happing in November!</p>
  </div>

  <div class="p-block">
    <p class="mono">get involved</p>
    <ul>
      <li>= Join the climatejustice@lists.olin.edu mailing list</li>
      <li>= Show up to our meetings happening every Thursday at 6 PM in the MAC 3rd floor endcap!</li>
    </ul>
  </div>

  <div class="p-block">
    <p class="mono">links</p>
    <ul>
      <li>= <a target="_blank" href="https://docs.google.com/document/d/1RIZmp1KEgpagqrPPkk3Jwte1eH5FJMYKV3qX8vNF0XM/edit?usp=sharing">Proposal</a></li>
      <li>= <a target="_blank" href="https://franklyspeakingnews.com/2022/10/its-olins-turn-to-divest/">Oct 2022 Frankly Speaking: It's Olin's Turn to Divest</a></li>
    </ul>
  </div>

  <div class="p-block">
    <p class="mono">contact</p>
    <ul>
      <li><a href="mailto:leads@divestolin.com">leads@divestolin.com</a></li>
    </ul>
  </div>

  <span class="copyright">&copy; {{ build.timestamp | dateToFormat('yyyy') }} {{meta.title}}</span>
</div>